# Dash
dash~=2.9.3
feffery-antd-components~=0.2.2
feffery-utils-components~=0.1.25
uWSGI~=2.0.21

# Flask
Flask~=2.2.3
Flask-Mail~=0.9.1
Flask-Login~=0.6.2
Flask-Redis~=0.4.0
Flask-Compress~=1.13.0
Flask-SQLAlchemy~=3.0.3

# FastAPI
fastapi~=0.95.1
uvicorn~=0.21.1

# Others
celery~=5.2.7
flower~=1.2.0
pymysql~=1.0.3
passlib~=1.7.4
pydantic~=1.10.7
SQLAlchemy~=2.0.10
python-jose[cryptography]~=3.3.0