# Dash
dash~=2.12.1
feffery-antd-components~=0.2.9
feffery-utils-components~=0.1.29
Flask-Compress~=1.13.0
uWSGI==2.0.22

# FastAPI
fastapi~=0.101.1
uvicorn~=0.23.2
gunicorn~=21.2.0
pydantic[email]==2.2.1
pydantic-settings~=2.0.3

# Database
redis~=5.0.0
pymysql~=1.1.0
SQLAlchemy~=2.0.20

# Tasks
kombu~=5.3.1
celery~=5.3.1
flower~=2.0.1

# Security
bcrypt~=4.0.1
passlib~=1.7.4
python-jose[cryptography]~=3.3.0

# Others
emails~=0.6.0
Jinja2~=3.1.2
orjson==3.9.5
python-multipart~=0.0.6
