dash
dash-daq
dash-auth
dash-labs
dash-bootstrap-components

Flask-Mail
Flask-Admin
Flask-Login
Flask-Redis
Flask-SQLAlchemy

redis
celery
pymysql
DBUtils
diskcache

uWSGI
orjson
psutil
autopep8
multiprocess

lxml
chardet
requests
fake_useragent
beautifulSoup4

pandas
openpyxl
scikit-learn
sklearn-pandas