/*
 * external stylesheets
*/

/* ----------------------------------------------------- */

:root {
    --cs-primary-color: #42C7AB;
    --cs-primary-color-bd: #6DF1D4;
}

/* ----------------------------------------------------- */

a {
    color: var(--cs-primary-color) !important;
}

.text-primary {
    color: var(--cs-primary-color) !important;
}

.bg-primary {
    background-color: var(--cs-primary-color) !important;
}

/* ----------------------------------------------------- */

.btn-primary,
.btn-primary:active,
.btn-primary.active,
.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary,
.show > .btn-primary.dropdown-toggle {
    color: white !important;
    border-color: var(--cs-primary-color) !important;
    background-color: var(--cs-primary-color) !important;
}

.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.btn-check:focus + .btn-primary,
.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem var(--cs-primary-color-bd) !important;
}

/* ----------------------------------------------------- */

.btn-outline-primary {
    color: var(--cs-primary-color) !important;
    border-color: var(--cs-primary-color) !important;
}

.btn-check:checked + .btn-outline-primary,
.btn-check:active + .btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show {
    color: white !important;
    border-color: var(--cs-primary-color) !important;
    background-color: var(--cs-primary-color) !important;
}

.btn-outline-primary:focus,
.btn-outline-primary:active:focus,
.btn-outline-primary.active:focus,
.btn-check:focus + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary:focus,
.btn-check:active + .btn-outline-primary:focus,
.btn-outline-primary.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem var(--cs-primary-color-bd) !important;
}

.btn-outline-primary:hover,
.btn-outline-secondary:hover,
.btn-outline-success:hover,
.btn-outline-info:hover,
.btn-outline-warning:hover,
.btn-outline-danger:hover,
.btn-outline-light:hover {
    background-color: inherit !important;
}

/* ----------------------------------------------------- */

.form-check-input:checked {
    border-color: var(--cs-primary-color) !important;
    background-color: var(--cs-primary-color) !important;
}

.form-select:focus,
.form-control:focus,
.form-check-input:focus {
    border-color: var(--cs-primary-color-bd) !important;
    box-shadow: 0 0 0 0.15rem var(--cs-primary-color-bd) !important;
}

/* ----------------------------------------------------- */

.accordion-shadow {
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button {
    color: white;
    background-color: var(--cs-primary-color);
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: var(--cs-primary-color);
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white' %3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white' %3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}