/*
 * external stylesheets
*/

.border-solid {
    border: 1px solid #343a40 !important;
}

.cursor-pt {
    cursor: pointer !important;
}

.hover-primary:hover {
    color: #0d6efd !important;
}


/* 
 * stylesheets of dbc
*/

.container {
    padding: 0 !important;
    max-width: 100% !important;
}


/*
 * stylesheets of media
*/

@media (min-width: 576px) {
    .side-class {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .side-class {
        width: 20%;
    }
}