/*
 * external stylesheets
*/

/* ----------------------------------------------------- */

a, .text-primary {
    color: var(--cs-primary-color) !important;
}

.bg-primary {
    background-color: var(--cs-primary-color) !important;
}

/* ----------------------------------------------------- */

.btn-primary,
.btn-primary:active,
.btn-primary.active,
.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary,
.show > .btn-primary.dropdown-toggle {
    color: white !important;
    border-color: var(--cs-primary-color) !important;
    background-color: var(--cs-primary-color) !important;
}

.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.btn-check:focus + .btn-primary,
.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem var(--cs-primary-color-up) !important;
}

/* ----------------------------------------------------- */

.btn-outline-primary {
    color: var(--cs-primary-color) !important;
    border-color: var(--cs-primary-color) !important;
}

.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-check:checked + .btn-outline-primary,
.btn-check:active + .btn-outline-primary,
.btn-outline-primary.dropdown-toggle.show {
    color: white !important;
    border-color: var(--cs-primary-color) !important;
    background-color: var(--cs-primary-color) !important;
}

.btn-outline-primary:focus,
.btn-outline-primary:active:focus,
.btn-outline-primary.active:focus,
.btn-check:focus + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary:focus,
.btn-check:active + .btn-outline-primary:focus,
.btn-outline-primary.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem var(--cs-primary-color-up) !important;
}

/* ----------------------------------------------------- */

.btn-outline-primary:hover,
.btn-outline-secondary:hover,
.btn-outline-success:hover,
.btn-outline-info:hover,
.btn-outline-warning:hover,
.btn-outline-danger:hover,
.btn-outline-light:hover {
    background-color: inherit !important;
}

/* ----------------------------------------------------- */

.form-check-input:checked {
    border-color: var(--cs-primary-color) !important;
    background-color: var(--cs-primary-color) !important;
}

.form-select:focus,
.form-control:focus,
.form-check-input:focus {
    border-color: var(--cs-primary-color-up) !important;
    box-shadow: 0 0 0 0.15rem var(--cs-primary-color-up) !important;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.15rem var(--cs-primary-color-up) !important;
}

/* ----------------------------------------------------- */