/*
 * external stylesheets
*/

/* ----------------------------------------------------- */

:root {
    --cs-primary-color: #42C7AB;
    --cs-primary-color-up: #5ED2B5;
    --cs-primary-color-down: #2AA891;
}

/* ----------------------------------------------------- */

.hover-primary:hover {
    color: var(--cs-primary-color) !important;
}

.bg-primary-up {
    background-color: var(--cs-primary-color-up) !important;
}

.bg-primary-down {
    background-color: var(--cs-primary-color-down) !important;
}

.bg-primary-hover:hover {
    background-color: var(--cs-primary-color-down) !important;
}

/* ----------------------------------------------------- */

.button-after-none::after {
    background-image: None !important;
}

/* ----------------------------------------------------- */

.h-100-scroll {
    height: 100% !important;
    overflow-y: scroll !important;
}

.h-100-scroll-md {
}

@media (min-width: 768px) {
    .h-100-scroll-md {
        height: 100% !important;
        overflow-y: scroll !important;
    }
}

/* ----------------------------------------------------- */