/*
 * external stylesheets
*/

/* ----------------------------------------------------- */

:root {
    --color-primary: #2c3e50;
    --color-success: #18bc9c;
    --color-catalog: #7b8a8b;
    --color-catalog-1: #95a5a6;
}

/* ----------------------------------------------------- */

.accordion-button {
    color: white !important;
    box-shadow: none !important;
    background-color: var(--color-catalog) !important;
}

.accordion-button:hover {
    background-color: var(--color-catalog-1) !important;
}

.accordion-button:after {
    background-image: url(svg/arrow-down.svg) !important;
}

.accordion-item {
    border: none !important;
    border-bottom: 1px solid var(--color-catalog-1) !important;
}

.accordion-body {
    padding: 0 !important;
    display: flex !important;
    flex-direction: column !important;
    background-color: var(--color-catalog) !important;
    border-top: 1px solid var(--color-catalog-1) !important;
}

/* ----------------------------------------------------- */

.accordion-border-top {
    border-top: 1px solid var(--color-catalog-1) !important;
}

.accordion-border-bottom {
    border-bottom: 1px solid var(--color-catalog-1) !important;
}

.accordion-background {
    background-color: var(--color-catalog) !important;
}

.accordion-background:hover {
    background-color: var(--color-catalog-1) !important;
}

.accordion-background-selected {
    background-color: var(--color-catalog-1) !important;
}

.accordion-background-selected:hover {
    background-color: var(--color-catalog-1) !important;
}

.accordion-image-after-none:after {
    background-image: none !important;
}

/* ----------------------------------------------------- */

.hover-primary:hover {
    color: var(--color-primary) !important;
}

.hover-success:hover {
    color: var(--color-success) !important;
}

/* ----------------------------------------------------- */

.h-100-scroll {
    height: 100% !important;
    overflow-y: auto !important;
}

.h-100-scroll-md {
}

@media (min-width: 768px) {
    .h-100-scroll-md {
        height: 100% !important;
        overflow-y: auto !important;
    }
}
