/*
 * external stylesheets
*/

/* ----------------------------------------------------- */

.accordion-bg {
    background-color: #2C3B4D;
}

.accordion-bg-0 {
    background-color: #263548;
}

.accordion-bg-1 {
    background-color: #3D5571;
}

/* ----------------------------------------------------- */

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-body {
    padding: 0 !important;
    display: flex !important;
    flex-direction: column !important;
}

.accordion-item:last-of-type,
.accordion-item:last-of-type .accordion-collapse,
.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

/* ----------------------------------------------------- */

#id-analysis-accordion .accordion-item {
    border-bottom: thin solid rgba(0, 0, 0, 0.5) !important;
}

#id-analysis-accordion .accordion-button,
#id-analysis-accordion .accordion-button:not(.collapsed) {
    color: white !important;
    background-color: #2C3B4D !important;
}

#id-analysis-accordion .accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white' %3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

#id-analysis-accordion .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white' %3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

/* ----------------------------------------------------- */

.accordion-button-after-none::after {
    background-image: none !important;
}

/* ----------------------------------------------------- */