/*
 * external stylesheets
*/

/* ----------------------------------------------------- */

:root {

}

body {
    font-family: sans-serif;
}

/* ----------------------------------------------------- */

.bg-main {
    background-color: #f0f2f5;
}

/* ----------------------------------------------------- */

.ant-menu-item-icon {
    display: flex !important;
}

/* ----------------------------------------------------- */
